* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: none;
}

a:hover,
button:hover {
    cursor: pointer;
    opacity: 0.95;
}

a:active,
button:active {
    transform: scale(0.95);
}

.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}