@media (max-width: 600px) {
    .info {
        margin-bottom: 80px;
    }
}

@media (max-width: 500px) {
    .info {

        &__heading {
            font-size: 20px;
        }

        &__subheading {
            text-align: justify;
        }

        &__list {
            &>&-item {
                padding: 20px 18px;
                gap: 10px 20px;

                &>h3 {
                    font-size: 14px;
                }

                &>p {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}