@media (max-width: 600px) {
    .teachers {
        margin-bottom: 80px;

        &__info {
            font-size: 10px;
        }
    }
}

@media (max-width: 500px) {
    .teachers {
        &__list {
            width: 100%;

            &-item {
                padding-right: 20px;

                &>div:nth-child(2) {
                    &>h4 {
                        text-align: left;
                        font-size: 12px;
                    }

                    &>p {
                        text-align: left;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}