.statistics {
    margin-bottom: 120px;

    &>.container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;

        &>div {
            width: 100%;
        }
    }

    &__heading {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 0px;
        color: #0C101A;
        font-size: 38px;
        letter-spacing: 0.3px;
    }
}

@media (max-width: 1370px) {
    .statistics {
        &__heading {
            font-size: 34px;
        }
    }
}

@media (max-width: 1200px) {
    .statistics {
        &__heading {
            font-size: 30px;
        }
    }
}

@media (max-width: 1080px) {
    .statistics {
        &__heading {
            font-size: 28px;
        }
    }
}