@media (max-width: 1000px) {
    .teachers-page {

        &__heading {
            font-size: 26px;
        }
    }
}

@media (max-width: 900px) {
    .teachers-page {
        &__heading {
            font-size: 24px;
        }

        &__info {
            line-height: 28px;
            font-size: 13px;
        }

        &__list {
            &-item {
                &>h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .teachers-page {
        &__list {
            &-item {
                .swiper {
                    &-slide {
                        &>div:nth-child(1) {
                            height: 250px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .teachers-page {

        &__heading {
            font-size: 20px;
        }
    }
}

@media (max-width: 670px) {
    .teachers-page {
        &__list {
            &-item {
                .swiper {
                    &-slide {
                        &>div:nth-child(1) {
                            height: 100px;
                        }

                        &>div:nth-child(2) {
                            &>p {
                                text-wrap: wrap;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}